body {
    font-family: "Cairo", sans-serif;
}

/* Starting root */
:root {
    --main-color : #ff0000;
    --clear-color : #fafafa;
    --dark-color : #111111;
}
/* Ending root */

ul {
    list-style: none;
}

li {
    list-style-type: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Starting settings */

.settings {
    z-index: 1000;
    color: #fafafa;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.settings i {
    font-size: 50px;
    cursor: pointer;
}

.settings .settings-options {
    background-color: #fafafa9a;
    color: #111111;
    position: fixed;
    bottom: 75px;
    right: 60px;
    border-radius: 5px;
    padding: 10px 20px;
    display: none;
}

.settings .settings-options.visible {
    display: block;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

.settings .settings-options .option h4 {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.settings .settings-options .option li {
    background-color: #fafafa;
    font-size: 18px;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
}

.settings .settings-options .colors li {
    opacity: .5;
}

.settings .settings-options .colors li.active {
    opacity: 1;
    border: 2px solid #111111;
    transform: scale(1.1);
}

.settings .settings-options .colors li:nth-of-type(1) {
    background-color: #ff0000;
    color: #fafafa;
}
.settings .settings-options .colors li:nth-of-type(2) {
    background-color: rgb(4, 46, 4);
    color: #fafafa;
}
.settings .settings-options .colors li:nth-of-type(3) {
    background-color: rgb(13, 13, 52);
    color: #fafafa;
}

/* /////////////////////////////////////////////////////////////////////////////// */

.settings .settings-options .bg li {
    opacity: .5;
}
.settings .settings-options .bg li.active {
    opacity: 1;
    transform: scale(1.1);
}
/* Ending settings */

/* Starting landing */

.landing {
    min-height: 100vh;
    background-image: url('../images/01.png');
    background-size: cover;
}

.landing header {
    color: var(--dark-color);
    background-color: var(--clear-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 0 0 4px 4px;
}

.landing header .logo {
    font-size: 30px;
    width: 300px;
    color: var(--main-color);
}

.landing header .navigation {
    width: 100%;
    display: flex;
    gap: 25px;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

/* Ending landing */

/* Starting intro */

.intro {
    color: var(--clear-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    margin: 150px auto;
}

.intro h1 {
    font-size: 55px;
}

.intro h1 span {
    color: var(--main-color);
}

.intro p {
    text-align: center;
    text-transform: capitalize;
}

.intro button {
    padding: 4px 16px;
    cursor: pointer;
    color: var(--dark-color);
    background-color: var(--clear-color);
    border: none;
    font-size: 18px;
}

.intro #discover-more {
    background-color: var(--main-color);
    color: var(--clear-color);
    transition: .3s;
}

.intro #discover-more:hover {
    background-color: var(--clear-color);
    color: var(--main-color);
}

/* Ending intro */